{% extends 'base.min.html' %}
{% load staticfiles %}

{% block title %}
Sign Up
{% endblock %}

{% block head %}
    <link href="{% static 'signin.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
      <form class="form-signin" method="post" action="{% url 'accounts:signup' %}">
      {% csrf_token %}
        <h2 class="form-signin-heading">Please sign up</h2>
        <input id="id_username" name="username" type="text" class="form-control" placeholder="Login" required autofocus>
        {{ form.username.errors }}
        <input type="email" id="id_email" name="email" class="form-control" placeholder="Email address" required>
        {{ form.email.errors }}
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
        {{ form.password.errors }}
        <input type="password" id="id_re_password" name="re_password" class="form-control" placeholder="Re-enter Password" required>
        {{ form.re_password.errors }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
      {{ form.non_field_errors }}
      {{ form.errors }}
    </div>
{% endblock %}
